.footer_area p_120 {
	height: 10px;
	width: 50%;
	background-color: powderblue;
  }

/* End Footer Area css
============================================================================================ */